<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tanka.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 42}, {26, 28}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 28}}</string>
			<key>sourceSize</key>
			<string>{26, 28}</string>
		</dict>
		<key>tankb.png</key>
		<dict>
			<key>frame</key>
			<string>{{28, 42}, {26, 28}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 28}}</string>
			<key>sourceSize</key>
			<string>{26, 28}</string>
		</dict>
		<key>turreta_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106, 1}, {14, 33}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {14, 33}}</string>
			<key>sourceSize</key>
			<string>{14, 39}</string>
		</dict>
		<key>turreta_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {14, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 39}}</string>
			<key>sourceSize</key>
			<string>{14, 39}</string>
		</dict>
		<key>turreta_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31, 1}, {14, 34}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {14, 34}}</string>
			<key>sourceSize</key>
			<string>{14, 40}</string>
		</dict>
		<key>turreta_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 1}, {14, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 40}}</string>
			<key>sourceSize</key>
			<string>{14, 40}</string>
		</dict>
		<key>turretb_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{61, 1}, {14, 33}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {14, 33}}</string>
			<key>sourceSize</key>
			<string>{14, 39}</string>
		</dict>
		<key>turretb_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 1}, {14, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 39}}</string>
			<key>sourceSize</key>
			<string>{14, 39}</string>
		</dict>
		<key>turretb_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{76, 1}, {14, 34}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {14, 34}}</string>
			<key>sourceSize</key>
			<string>{14, 40}</string>
		</dict>
		<key>turretb_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{16, 1}, {14, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 40}}</string>
			<key>sourceSize</key>
			<string>{14, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>
